version: '3.8'

services:
  frontend:
    build: .
    ports:
      - "8080:80"
      - "8443:443"
    restart: always
    volumes:
      - ./certs:/etc/nginx/certs:ro
    networks:
      - backend-network

networks:
  backend-network:
    external: true
    name: touchbasedorderingkiosksystem_kiosk-network
